
html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	background: #000;
	color: #fff;
}


input {
	font-family: monospace;
}

#input {
	background: #fff;
	color: #000;
	margin: 10px;
	padding: 10px;
	font-size: 1rem;
}

#outputs .encoder {
	background: #fff;
	color: #000;
	margin: 10px;
	padding: 30px;
	font-size: 2rem;
}
